:root {
  --header-text-color: #212121;
  --title-text-color: #757575;
  --second-title-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #e5e5e5;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --transition-hover: color background-color box-shadow 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", "sans-serif";
  color: var(--header-text-color);
  background-color: var(--second-title-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------HEADER---------- */
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-tel:hover .header-contact-icon,
.header-tel:focus .header-contact-icon {
  fill: var(--accent-color);
}
.header-mail:hover .header-contact-icon,
.header-mail:focus .header-contact-icon {
  fill: var(--accent-color);
}

.header-tel,
.header-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-hover);
}

.header-contact-icon {
  fill: var(--title-text-color);
  margin-right: 10px;
}
.header {
  background-color: var(--second-title-text-color);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-text-color);
  text-decoration: none;
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}
.logo-first {
  color: var(--accent-color);
}
.header-list {
  font-weight: 500;
  line-height: 1.14;
  vertical-align: top;
  letter-spacing: 0.02em;
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-mail {
  margin-right: 50px;
}
.header-link {
  color: var(--header-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  transition: var(--transition-hover);
}
.current {
  color: var(--accent-color);
}
.contact-list {
  margin-left: auto;
  display: flex;
}
.header-mail,
.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
/* ----------HERO---------- */
.hero {
  background-color: var(--second-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.hero-btn {
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-title-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: var(--transition-hover);
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-text-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

/* ----------METHODS---------- */
.methods-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.methods-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.methods-title {
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
}
.methods-after-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  text-align: left;
  color: var(--title-text-color);
}
.method-item-container {
  min-width: 270px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  margin-bottom: 30px;
}

/* ----------ABOUT---------- */
.about {
  padding-top: 0px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.about-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}
/* /* .about-image {
  position: relative;
} */
.about-item-title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.72;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-title-text-color);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}
/* ----------Наша команда---------- */
.team {
  background: var(--third-background-color);
}
.team-pre-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 10px;
}
.team-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 16px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background: var(--second-title-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title-conainer {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--second-title-text-color);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}
.team-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: var(--transition-hover);
}
.team-social-icon {
  fill: #afb1b8;
}

/* ----------CLIENTS---------- */
.clients {
}
.clients-pre-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  background-color: var(--second-title-text-color);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  min-height: 92px;
  transition: var(--transition-hover);
}
.team-social-icon {
  fill: #afb1b8;
}
.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
}
.clients-item:hover .team-social-icon,
.clients-item:focus .team-social-icon {
  fill: var(--accent-color);
}
/* ----------FOOTER---------- */
footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: inline-block;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-title-text-color);
  text-decoration: none;
  margin-bottom: 20px;
}
.adress-first {
  font-style: normal;
  font-size: 14px;
  line-height: 1.72;
  text-align: center;
  color: var(--second-title-text-color);
  display: inline-block;
  margin-bottom: 9px;
  transition: var(--transition-hover);
}

.adress-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.72;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-bottom: 9px;
  transition: var(--transition-hover);
}
.adress-mail:hover {
  color: rgba(255, 255, 255, 1);
}
.adress-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.72;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transition-hover);
}
.adress-tel:hover {
  color: rgba(255, 255, 255, 1);
}
.container-footer {
  display: flex;
}
.container-social-link {
  margin-left: 70px;
}
.footer-social-link-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-text-color);
  padding-top: 12px;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition-hover);
}
.footer-social-icon {
  fill: var(--second-title-text-color);
}

/* PORTFOLIO */
/* ----------FILTER---------- */
.filter-btn:hover,
.filter-btn:focus {
  color: var(--second-title-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list {
  margin-right: 8px;
}
.filter-btn {
  cursor: pointer;
  border-radius: 4px;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--header-text-color);
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  transition: var(--transition-hover);
}
.filter-btn-first {
  background-color: var(--accent-color);
  color: var(--second-title-text-color);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.projecrs-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  transition: var(--transition-hover);
}
.projecrs-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
  margin-bottom: 4px;
}
.projects-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: var(--title-text-color);
}
.projecrs-item-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
