.clients__pre-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    padding-bottom: 50px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  
  // margin-bottom: -30px;
}
.clients-list__item {
  // flex-basis: calc(100% / 6 - 30px);
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  background-color: var(--second-title-text-color);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 30px;
  // margin-bottom: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  min-height: 92px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    border-width: 2px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 94px;
}
}
.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients-list__item:hover &,
  .clients-list__item:focus & {
    fill: var(--accent-color);
  }
}
