.contact-list__tel:hover,
.contact-list__tel:focus {
  color: var(--accent-color);
}

.contact-list__tel,
.contact-list__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-hover);
}

.contact-list__icon {
  fill: var(--title-text-color);
  margin-right: 10px;
  .contact-list__mail:hover &,
  .contact-list__mail:focus & {
    fill: var(--accent-color);
  }
  .contact-list__tel:hover &,
  .contact-list__tel:focus & {
    fill: var(--accent-color);
  }
}
.header {
  background-color: var(--second-title-text-color);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header__logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-text-color);
  text-decoration: none;
  margin-right: 93px;
  margin-top: 16px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
  }
}
.header__logo-first {
  color: var(--accent-color);
}
.header__list {
  display: none;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    line-height: 1.14;
    vertical-align: top;
    letter-spacing: 0.02em;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    line-height: 1.14;
    vertical-align: top;
    letter-spacing: 0.02em;
    display: flex;
  }
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.contact-list__mail {
  margin-right: 50px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__link {
  color: var(--header-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  transition: var(--transition-hover);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -34px;
}

.contact-list {
  display: none;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: flex;
  }
}
.contact-list__mail,
.contact-list__tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.menu-open__icon {
  background-color: var(--second-title-text-color);
}
.menu-open__btn {
  margin-left: auto;
}
.mob-menu {
  position: fixed;
  background-color: var(--second-title-text-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.menu-close-btn {
  display: block;
  margin-left: auto;
}
.mob-menu__list {
  margin-top: 48px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-contact__list-tel {
  margin-bottom: 32px;
}
.mob-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mob-contact__list-mail {
  margin-bottom: 64px;
}
.mob-social {
  display: flex;
}
.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-social__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
// .mob-menu.is-hidden {
//   transform: scale(0.4);
//   transition: transform 250ms;
// }
.menu-open__btn,
.menu-close-btn {
  background: #ffffff;
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
