.methods-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.methods-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.methods__title {
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
}
.methods__after-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  text-align: left;
  color: var(--title-text-color);
}
.methods__item-container {
  min-width: 270px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  margin-bottom: 30px;
}
.methods-list__icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
