.container-online {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    text-align: left;
  }
}
.online__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-text-color);
  margin-bottom: 20px;
}
.online__mail-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--second-background-color);
  transition: var(--transition-hover);
  cursor: pointer;
  color: var(--second-title-text-color);
  outline: none;
  padding-left: 16px;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    border-color: var(--second-title-text-color);
  }
  &::placeholder {
    text-transform: uppercase;
  }
}

.online__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.online__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-title-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: 12px;
  transition: var(--transition-hover);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.online__button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
