.filter-btn:hover,
.filter-btn:focus {
  color: var(--second-title-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list {
  margin-right: 8px;
}
.filter-btn {
  cursor: pointer;
  border-radius: 4px;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--header-text-color);
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  transition: var(--transition-hover);
}
.filter-btn-first {
  background-color: var(--accent-color);
  color: var(--second-title-text-color);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.projecrs-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: var(--transition-hover);
}
.projecrs-item:hover .project-item-text {
  transform: translateY(0);
}

.projecrs-item-wrap {
  position: relative;
  overflow: hidden;
}
.project-item-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--second-title-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* overflow: auto; */
}
.projecrs-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
  margin-bottom: 4px;
}
.projects-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: var(--title-text-color);
}
.projecrs-item-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
