.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}
.backdrop.is-hidden .modal {
  transform: scale(0.4);
  transition: transform 250ms;
}
/* .close-icon {
  fill: #000000;
} */

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--second-title-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  transition: ttransform 700ms;
  padding: 40px;
}
.modal-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.form-field {
  margin-bottom: 10px;
}
.input-icon {
  fill: var(--header-text-color);
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  fill: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap {
  position: relative;
}

.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}
.input-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  display: block;
  margin-bottom: 4px;
}
.form-text {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}
.form-text .form-button {
  display: flex;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-title-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 55px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: var(--transition-hover);
}
.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
  display: flex;
  align-items: center;
}
.check-link {
  color: var(--accent-color);
}
.check-text span {
  width: 16px;
  height: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.policy-icon {
  fill: transparent;
}
.policy-check:checked + .check-text span {
  border: none;
  background-color: var(--accent-color);
}
.policy-check:checked + .check-text .policy-icon {
  fill: var(--second-title-text-color);
}
