body {
  font-family: "Roboto", "sans-serif";
  color: var(--header-text-color);
  background-color: var(--second-title-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
